body{
    background-color: white;
}

.input-tags
{
    font-size: 20px;
    padding-top: 2px;
    padding-left: 15px;
    padding-right: 5px;
}
.input-default-settings
{
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    outline: none;
}