*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    
}
.nav-principal{
    background-color: #EAAD16;
}

/* Tengo que arreglar el tema de como están organizados en el header. Porque el buscador no me quedó centrado */

.nav-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.titulo-nav
{
    display: flex;
    justify-content: flex-start;
    user-select: none;
}

.titulo-nav a
{
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
}

.logo-nav {
    height: 70px;
    width: 70px;
}

.titulo-del-nav
{
    margin-top: 8px;
    height: 34px;
}



.input-container-nav {
    display: flex;
    align-items: center;
    float: center;
    max-width: 400px;
    height: 30px;
    padding: 15px;
    border: #cf8610a4 2px solid;
    background-color: white;
    border-radius: 25px;
    margin: 0 auto;
    
}


.input-nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding-left: 15px;
    border: none;
    outline: none;
}

.input-nav:focus
{
    border: 1px solid rgb(255, 255, 255);
}

.nav-login {
    float: right;
    width: 90px;
    border-radius: 15px;
    padding: 5px;
    transition: background-color 0.2s ease;
    cursor:pointer;
    user-select: none;
}

.nav-login a {
    font-size: 16px;
}

.nav-login:hover {
    background-color: #f4dc55; /* Color más claro al pasar el mouse */
}


.text-acceder
{
    text-decoration: none;
    color: black;
}
