.login-title {
    text-align: center;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Ajusta la altura para centrar verticalmente */
}

.btn {
    background-color: #eaad16;
    color: #fff;
    display: block;
    width: 200px;
    margin: 1rem auto 0;
}

.btn:hover {
    background-color: #f6c343;
}

.form-container p a {
    text-decoration: none;
    color: #eaad16;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    max-width: 300px; /* El mismo ancho máximo que los campos de entrada */
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

#loginForm .form-control {
    width: 100%;
    margin-bottom: 0.5rem; /* Espaciado debajo del campo de entrada */
}

.form-container {
    padding: 20px;
    background-color: rgb(253, 253, 253);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    max-width: 400px; /* Ajusta esto según el ancho deseado */
    margin: auto; /* Esto centra el contenedor en la página */
}

.primary-button {
    background-color: #eaad16; /* Color para el botón de acción principal */
    color: #fff;
    border: none;
    padding: 10px 20px; /* Ajuste el padding según sea necesario */
    cursor: pointer;
    margin-right: 10px; /* Espaciado entre los botones */
    border-radius: 5px; /* Bordes redondeados */
    /* Otros estilos que desees aplicar al botón primario */
}

.secondary-button {
    background-color: #cccccc; /* Color para el botón de acción secundaria, un gris claro por ejemplo */
    color: #333;
    border: none;
    padding: 10px 20px; /* Ajuste el padding según sea necesario */
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
    /* Otros estilos que desees aplicar al botón secundario */
}

.button-group {
    display: flex;
    justify-content:center;
    padding: 30px 0 10px 0;
    gap: 10px; /* Espacio entre los botones */
}

/* Asegúrate de que los botones tengan un ancho fijo o máximo para que sean del mismo tamaño */
.primary-button, .secondary-button {
    width: auto; /* Esto permite que los botones se ajusten al contenido */
}
/* Estilo general del contenedor del campo de contraseña */
.form-group {
    position: relative; /* Este es necesario para posicionar el botón del ojo absolutamente dentro de este contenedor */
  }
  
  /* Estilos para el campo de entrada de la contraseña */
  .form-control.input-default-settings {
    padding-right: 40px; /* Añade espacio a la derecha para el botón del ojo */
    /* Tus otros estilos para el campo de entrada */
  }
  
  /* Estilos para el botón de mostrar/ocultar contraseña */
  .toggle-password {
    position: absolute;
    right: 10px; /* Ajusta según el tamaño de tu campo de entrada */
    top: 65%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  /* Asegúrate de que el ícono del ojo se vea correctamente */
  .toggle-password i {
    color: #495057; /* Cambia este color según necesites para que combine con el diseño de tu campo de entrada */
    /* Agrega cualquier otro estilo que necesites para el ícono aquí */
  }
  