*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ESTILOS GENERALES */

.titulo-pagina-receta{
    display: flex;
    justify-content: center;
    padding: 25px;
    user-select: none;
}

.subtitulos-pagina-receta
{
    user-select: none;
    font-size: 35px;
    padding-left: 28px;
}

.general-container
{
    padding: 10px;
    background-color: rgb(253, 253, 253);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.container-formulario-general
{
    user-select: none;
    margin-top: 50px;
    list-style: none;
    margin-bottom: 15px;
}
.div-tag-formulario
{
    font-size: 24px;
    font-weight: bold;
    width: 230px;
}

.container-formulario-general > li
{
    display: flex;
    padding-top: 10px;
    padding-bottom: 25px;
}

.input-texto
{
    width: 550px;
}

/* .input-tags
{
    font-size: 20px;
    padding-top: 2px;
    padding-left: 8px;
}
.input-default-settings
{
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    outline: none;
} */

.general-submenu-settings
{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-top: 0px;
    border-left: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px; */
}

.general-submenu-settings li:hover{
    color: rgba(138, 139, 137, 0.596)
}

/*  Estilos del section INFO GENERAL */

.horario-container
{
    display: flex;
    align-items: flex-end;
}

.horario-container span
{
    font-size: 20px;
    padding-right: 8px;
    vertical-align: middle;
}

.input-hora {
    font-size: 20px;
    margin-top: 5px;
    border: none;
    outline: none;
    width: 45px;
}

.input-hora-izquierda
{
    padding-left: 15px;
}

.input-hora-derecha
{
    margin-right: 10px;
}

/* quita la flecha de desplazamiento del input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.list-dificultad
{
    display: flex;
    font-size: 20px;
    padding: 0px;
}

.list-dificultad:hover
{
  border: 0px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.menu-dificultad
{
width: 100%;
padding: 1px;
}

.menu-dificultad > li{
color: rgba(0, 0, 0, 0.696);
position: relative;
display: inline-block;
padding-right: 15px;
}

.menu-dificultad > li > span{
    display: block;
    color: rgba(101, 101, 101, 0.784);
    text-decoration: none;
    padding-left: 15px;
    padding-right: 5px;
}

.menu-dificultad > li > a > i
{
margin-left: 10px;
}

.submenu-dificultad{
    z-index: 1;
    padding: 0;
    width: 100.2%;

}

.menu-dificultad li:hover .submenu-dificultad{
      visibility: visible;
      opacity: 1;
      padding-left: 15px;
      padding-top: 5px;
}

/* INGREDIENTES */

.ingredientes-lista
{
    padding: 0;
    list-style: none;
}

.ingredientes-lista .ingrediente-seleccionado
{
    padding-top: 3px;
    padding-bottom: 25px;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.ingredientes-lista .buscador-ingredientes
{
    padding-top: 3px;
    padding-bottom: 25px;
    align-items: center;
    width: 550px;
}

.espacio-subir-bajar
{
    margin-left: 20px;
    font-size: 25px;
}

.ingrediente-widht
{
    width: 550px;
    user-select:text;
}

.separador-nombre
{
    width: 250px;
    padding-right: 50px;
    overflow: hidden;
}

.separador-cantidad
{
    border-left: 2px rgba(0, 0, 0, 0.2) solid;
    height: 34px;
    padding-top: 4px;
    padding-left: 5px;
}

.input-cantidad
{
    font-size: 20px;
    margin-top: 5px;
    width: 50px;
    border: none;
    margin-right: 5px;
}

.submenu-ingredientes {
    z-index: 1;
    width: 550px;

}

.ingredientes-lista li:hover .submenu-ingredientes{
    visibility: visible;
    opacity: 1;
}

.buscador-ingredientes:hover
{
    border: 0px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: white;
}

.quitar-padding
{
    padding: 0;
    list-style: none;
}


